body {
	background: #26a1e8;
	text-align: center;
}
#main {
	margin: 25px auto;
	width: 80%;
	height: 600px;
	background: #ffffff;
}
h1 {
	text-align: center;
	font-family:"Times New Roman";
	font: 24pt;
	color: #ff0f0f
}
	